<a href="https://colab.research.google.com/github/RA2112704010008/RA2112704010008/blob/main/Github_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random as r 
def dice():
  n=r.randrange(1,7)
  print(n)
dice()

In [7]:
import pandas as pd
import numpy as np

print("stocks of sandeepan")
money=[97,89,93,99,79]
Stock_name=["IBM","INFOSYS","TATA","META","GOOGLE"]
ind=pd.Series(money,index=Stock_name)
dt=pd.DataFrame(
    {
        "STOCKS":pd.Series(Stock_name),
        "MONEY":pd.Series(money),
        "TERM PLAN":pd.Series(['A','B','C','A','A']),
        "STATUS":'Profit',
        "ANALYSIS":np.array([1]*5),
    }
)
print(dt)

stocks of sandeepan
    STOCKS  MONEY TERM PLAN  STATUS  ANALYSIS
0      IBM     97         A  Profit         1
1  INFOSYS     89         B  Profit         1
2     TATA     93         C  Profit         1
3     META     99         A  Profit         1
4   GOOGLE     79         A  Profit         1

In [9]:
print("stocks of Sandeepan")
money=[98,92,85,99,100]
Stock_name=['IBM','INFOSYS','TATA','META','GOOGLE']
ind=pd.Series(money,index=Stock_name)
dt=pd.DataFrame(
    {
        "STOCKS":pd.Series(Stock_name),
        "MONEY":pd.Series(money),
        "TERM PLAN":pd.Series(['A','B','C','A','A']),
        "STATUS":'Profit',
        "ANALYSIS":np.array([1]*5),
    }
)
dt1=pd.DataFrame(
    {
        "Remarks":pd.Categorical(["PLAN SUCCESS"]),
    }
)
dtfl=pd.concat([dt,dt1])
print(dtfl)

stocks of Sandeepan
    STOCKS  MONEY TERM PLAN  STATUS  ANALYSIS       Remarks
0      IBM   98.0         A  Profit       1.0           NaN
1  INFOSYS   92.0         B  Profit       1.0           NaN
2     TATA   85.0         C  Profit       1.0           NaN
3     META   99.0         A  Profit       1.0           NaN
4   GOOGLE  100.0         A  Profit       1.0           NaN
0      NaN    NaN       NaN     NaN       NaN  PLAN SUCCESS

In [ ]:
[]